<footer class="footer-container mat-elevation-z2">
    <div class="footer-top">
        <!-- Cột trái -->
        <div class="footer-col">
            <div class="footer-logo">
                <img [src]="backendUrl + '/logo/LogoPage.png'"
                     alt="Logo" />
                <p class="slogan">Tiếp lợi thế - Nối thành công</p>
            </div>

            <div class="contact">
                <p><strong>Hotline:</strong> (024) 6680 5588 (Giờ hành chính)</p>
                <p><strong>Email:</strong> hotro@topcv.vn</p>
            </div>

            <div class="apps">
                <img [src]="backendUrl + '/logo/appstore.png'"
                     alt="App Store" />
                <img [src]="backendUrl + '/logo/playstore.png'"
                     alt="Google Play" />
            </div>

            <div class="social">
                <a href="#"
                   mat-icon-button><i class="fab fa-facebook"></i></a>
                <a href="#"
                   mat-icon-button><i class="fab fa-youtube"></i></a>
                <a href="#"
                   mat-icon-button><i class="fab fa-linkedin"></i></a>
                <a href="#"
                   mat-icon-button><i class="fab fa-tiktok"></i></a>
            </div>
        </div>

        <!-- Cột giữa -->
        <div class="footer-links">
            <div>
                <h4>Về TopCV</h4>
                <a href="#">Giới thiệu</a>
                <a href="#">Tuyển dụng</a>
                <a href="#">Liên hệ</a>
                <a href="#">Chính sách bảo mật</a>
            </div>
            <div>
                <h4>Hồ sơ và CV</h4>
                <a href="#">Quản lý CV</a>
                <a href="#">Hướng dẫn viết CV</a>
                <a href="#">Review CV</a>
            </div>
            <div>
                <h4>Khám phá</h4>
                <a href="#">Ứng dụng TopCV</a>
                <a href="#">Tính lương Gross - Net</a>
                <a href="#">Trắc nghiệm MBTI</a>
            </div>
            <div>
                <h4>Xây dựng sự nghiệp</h4>
                <a href="#">Việc làm IT</a>
                <a href="#">Việc làm Senior</a>
                <a href="#">Việc làm bán thời gian</a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>
            Công ty Cổ phần TopCV Việt Nam — Giấy phép kinh doanh số: 0107307178
            <br />
            Trụ sở: Tòa FS - GoldSeason, 47 Nguyễn Tuân, Thanh Xuân, Hà Nội
            <br />
            Chi nhánh HCM: Tòa nhà Dali, 24C Phan Đăng Lưu, Bình Thạnh, TP HCM
        </p>
    </div>
</footer>